.navbar {
    background-color: red;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}

.navbar a, .navbar button {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbarmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarright {
    display: flex;
    align-items: center;
}

.marketplace-link {
    font-weight: bold; 
}

